body {background-color: lightcoral; text-align: center;}
h1 {color:rgb(104, 76, 7); font-size: 40px;}
p {font-family:Georgia, 'Times New Roman', Times, serif; font-size: 20px; color: rgb(173, 187, 145);}
testClass {font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; font-size: 20px; color: rgb(42, 195, 206);}

#boldAndUnderline {font-weight: bold; text-decoration: underline;}